---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        <a class="icon-{{ social.icon }}" href="{{ social.url }}">
          <i class="fa fa-{{ social.icon }}"></i>
        </a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
      {% endfor %}
      <a href="/about/">Homepage</a>
    </div>
</header>

<script>
    (function ($) {
        "use strict";

        $(document).ready(function(){

            var $window = $(window),
                $image = $('.teaserimage-image');
            $window.on('scroll', function() {
                var top = $window.scrollTop();

                if (top < 0 || top > 1500) { return; }
                $image
                    .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
                    .css('opacity', 1-Math.max(top/700, 0));
            });
            $window.trigger('scroll');

        });

    }(jQuery));
</script>

<main class="content" role="main">

    <article class="post">
    <h5 class="index-headline normal"><span>Link Popularity</span></h5>

	<ul>
	<!--<li itemprop="itemListElement"><a href="http://www.jkcrazy.net/" target="_blank">Jack Sun</a></li>
	<li itemprop="itemListElement"><a href="http://adapt.seiee.sjtu.edu.cn/~kailang/" target="_blank">Kailang Jiang</a>
	<li itemprop="itemListElement"><a href="http://adapt.seiee.sjtu.edu.cn/~kangqi/" target="_blank">Kangqi Luo</a></li> -->
	<li itemprop="itemListElement"><a href="http://xiao-jia.com" target="_blank">Xiao Jia</a></li>
	<li itemprop="itemListElement"><a href="http://www.yinwang.org/" target="_blank">Yin Wang</a></li>
	</ul>
    </article>

<!--    <div itemscope itemtype="http://schema.org/ItemList">
	<dl>
	<dd>
	<section id="links">
	<ul class="list2">
	<li itemprop="itemListElement"><a href=""></a></li>
	<li itemprop="itemListElement"><a href="www.jkcrazy.net">Jack Sun</a></li>
	<li itemprop="itemListElement"><a href="xiao-jia.com">Xiao Jia</a></li>
	<li itemprop="itemListElement"><a href="http://adapt.seiee.sjtu.edu.cn/~kangqi/">Kangqi Luo</a></li>
	<li itemprop="itemListElement"></li>
	<li itemprop="itemListElement"></li>
	<li itemprop="itemListElement"></li>
	</ul>
        </section>
	</dd>
	</dl>
    </div>
-->
</main>
